<div class="container first-level">

  <div class="row">
    <% 9.times do |x| %>
    <p class="col-xs-12">
      <% 9.times do |y| %>
      <div class="square" id =<%= x+1%><%= y+1 %> ><%= x+1%><%= y+1 %></div>
      <% end %>
    </p>
    <% end %>
  </div>
  <%= image_tag "bg-01.png" %>
</div>

